# 2024 Olymptic Medelist Dataset

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("medallists.csv")

In [3]:
data.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [4]:
data['country'].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'Korea', 'Tunisia', 'Hong Kong, China', 'France', 'Hungary',
       'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden', 'Germany',
       'Canada', 'Poland', 'Egypt', 'Brazil', 'Republic of Moldova',
       'Uzbekistan', 'Kosovo', 'China', 'India', 'Slovakia',
       'South Africa', 'Ukraine', 'Azerbaijan', 'Croatia', 'Switzerland',
       'Romania', 'Ireland', 'Georgia', 'Tajikistan', 'Slovenia',
       'Mexico', 'Guatemala', 'Argentina', 'Greece', 'Austria',
       'Netherlands', 'New Zealand', 'Ecuador', 'Israel', 'Portugal',
       'Uganda', 'Ethiopia', 'AIN', 'Philippines', 'Norway', 'Grenada',
       'Jamaica', 'Saint Lucia', 'Dominica', 'Chinese Taipei',
       'Lithuania', 'Armenia', 'Algeria', 'Indonesia',
       'Dominican Republic', 'Cabo Verde', 'Cuba', 'DPR Korea', 'Chile',
       'Serbia', 'Colombia', 'Kenya', 'Denmark', 'Thailand', 'Malaysia',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'Türkiye', 'Morocco', 'Zambia',
       'Cyprus', 'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR',
       'Jordan', 'Czechia', 'Singapore', 'Qatar', 'Puerto Rico', 'Panama',
       "Côte d'Ivoire", 'Albania', 'Fiji'], dtype=object)

In [19]:
data['country'].nunique()

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [6]:
data['event'].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [7]:
data['gender'].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [8]:
data_BEL=data[data.country_code=='BEL']
data_BEL

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
147,2024-07-31,Bronze Medal,3.0,WILLEMS Gabriella,Female,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Judo,Women -70 kg,HATH,/en/paris-2024/results/judo/women--70-kg/repf0...,1997-07-01,1903248,NaN,True
266,2024-08-03,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Road Race,ATH,/en/paris-2024/results/cycling-road/men-s-road...,2000-01-25,1903136,NaN,True
337,2024-08-04,Bronze Medal,3.0,KOPECKY Lotte,Female,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Women's Road Race,ATH,/en/paris-2024/results/cycling-road/women-s-ro...,1995-11-10,1903120,NaN,True
530,2024-08-08,Bronze Medal,3.0,van den BOSSCHE Fabio,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Track,Men's Omnium,ATH,/en/paris-2024/results/cycling-track/men-s-omn...,2000-09-21,1915370,NaN,True
623,2024-08-09,Bronze Medal,3.0,CHAARI Sarah,Female,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Taekwondo,Women -67kg,HATH,/en/paris-2024/results/taekwondo/women--67kg/r...,2005-05-02,1903284,NaN,True
652,2024-08-10,Silver Medal,2.0,ABDI Bashir,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Athletics,Men's Marathon,ATH,/en/paris-2024/results/athletics/men-s-maratho...,1989-02-10,1942753,NaN,True
757,2024-08-09,Gold Medal,1.0,THIAM Nafissatou,Female,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Athletics,Women's Heptathlon,ATH,NaN,1994-08-19,1903112,NaN,True
759,2024-08-09,Bronze Medal,3.0,VIDTS Noor,Female,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Athletics,Women's Heptathlon,ATH,NaN,1996-05-30,1895596,NaN,True

In [9]:
len(data_BEL)

10

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [10]:
data_gold=data[(data.medal_type=='Gold Medal')]
data_gold['medal_date']=pd.to_datetime(data_gold["medal_date"],format='mixed')
data_gold['birth_date']=pd.to_datetime(data_gold["birth_date"],format='mixed')
avg_age=data_gold['medal_date'].dt.year-data_gold['birth_date'].dt.year
avg_age.mean()
avg_age_round=round(avg_age.mean(),2)
print(f'The average age of gold medalists is {avg_age_round}.')

The average age of gold medalists is 26.99.

C:\Users\bushc\AppData\Local\Temp\ipykernel_5112\3098555988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gold['medal_date']=pd.to_datetime(data_gold["medal_date"],format='mixed')
C:\Users\bushc\AppData\Local\Temp\ipykernel_5112\3098555988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gold['birth_date']=pd.to_datetime(data_gold["birth_date"],format='mixed')

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [11]:
data_silver=data[(data.medal_type=='Silver Medal')&(data.discipline=='Cycling Road')]
data_silver['name']

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [12]:
data['event'].value_counts()

event
Men                            342
Women                          338
Mixed Team                      55
Women's Team                    33
Men's Team                      33
                              ...
Women's Shot Put                 3
B-Girls                          3
Men's Canoe Single 1000m         3
Men's Sprint                     3
Men's Individual Time Trial      3
Name: count, Length: 288, dtype: int64

In [13]:
data_F=data[(data.gender=="Female")]
len(data_F['event'].unique())

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [14]:
data_Gold=data[(data.medal_type=='Gold Medal')]
data_Gold['country'].value_counts().head(1)

country
United States    134
Name: count, dtype: int64

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [15]:
data_D=data[(data.gender=='Male')]
data_D['discipline'].value_counts().head(3)

discipline
Athletics    113
Swimming     107
Rowing        72
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [16]:

data['medal_date']=pd.to_datetime(data["medal_date"],format='mixed')
data['birth_date']=pd.to_datetime(data["birth_date"],format='mixed')
data['avg_age']=data['medal_date'].dt.year-data['birth_date'].dt.year
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,avg_age
401,2024-08-05,Silver Medal,2.0,WESTON-WEBB Tatiana,Female,BRA,Brazil,Brazil,BRA,Brazil,...,NaN,Surfing,Women,HATH,/en/paris-2024/results/surfing/women/fnl---------,1996-05-09,1955783,NaN,True,28

In [17]:
data[data['avg_age']==data['avg_age'].min()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,avg_age
432,2024-08-06,Gold Medal,1.0,TREW Arisa,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,Skateboarding,Women's Park,ATH,/en/paris-2024/results/skateboarding/women-s-p...,2010-05-12,1946064,NaN,True,14

In [18]:
data[data['avg_age']==data['avg_age'].max()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,avg_age
1126,2024-08-02,Silver Medal,2.0,KRAUT Laura,Female,USA,United States,United States of America,USA,United States,...,O,Equestrian,Jumping Team,TEAM,/en/paris-2024/results/equestrian/jumping-team...,1965-11-14,1951840,EQUOJUMPTEAMUSA01,True,59